@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";



.hidden {

	display:none;
}


.game_board {

    width: 625px;
    height: 625px;

    td {
        width: 25px;
        height: 25px;
    }
}



.gameBoardContainer {


    .playerOwnBoard {
    	float: left;
    }

    .playerOpponentBoard {
    	float: right;
    }

}

