@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.hidden {
	display:none;
}
.game_board {

    width: 484px;
    height: 484px;

    td {
        max-width: 22px;
        max-height: 22px;
        color: white;
        text-align: center;
        font-size: 18px;
    }
}
.gameBoardContainer {

    .playerOwnBoard {
    	float: left;
    }

    .playerOpponentBoard {
    	float: right;
    }
}

.red {
    background-color: firebrick;
}
.blue {
    background-color: turquoise;
}
.grey {
    background-color: slategrey;
}
.white {
    background-color: mediumpurple;
}
.statusUpdate {
    font-size: 18px;
}
.redupdate {
    color: red;
}
