doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Battleship
    link(rel='stylesheet', href='css/main.css')
  body
      <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

      .container
        .page-header.clearfix
          h1 Battleship
          .statusBoard.pull-right.hidden
          br
          .pull-right.turnTracker.hidden
            p It is Player One's Turn


        form
          input(type="text", placeholder="What is your name?", id='name')
          button(type="submit", class="btn btn-default", id="join-game") Play Game

        button.rotateBtn rotate
        .placeShipsContainer place my ships
        .gameContainer.hidden.row
          .col-md-5
            h2 My Board
            .playerOwnBoard
          .col-md-5.col-md-offset-2
            h2 My Guesses
            .playerOpponentBoard



      // build:js js/vendor.min.js
      // bower:js
      // endbower
      // endbuild

      // build:js js/main.min.js
      script(src="/scripts/index.js")
      // endbuild